@media only screen and (max-width: 425px) {
    img {
        height: 200px;
        width: 200px;
    }

    .subtitle {
        margin: 0 auto;
    }

    .subtitle h2 {
        width: 300px;
    }
}