/* Variables */
@font-face {
    font-family: inconsolata;
    src: url(../font/Inconsolata/Inconsolata-Black.ttf);
}

@font-face {
    font-family: spacemono;
    src: url(../font/SpaceMono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

/* Variables */

/* Global Setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Setting */

body {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.fog {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.absolute-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fog-img {
    position: absolute;
    width: 300vw;
    height: 100vh;
    z-index: 2;
}

.fog-img-first {
    background: url(../img/fog-1.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 60s linear infinite;
    animation-direction: alternate;
}

.fog-img-second {
    background: url(../img/fog-2.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 30s linear infinite;
    animation-direction: alternate;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100vw, 0, 0);
    }
}

.row {
    margin: 200px 0;
}

.image {
    display: flex;
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
}

img {
    height: 300px;
    width: 300px;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: #ffffff;
    z-index: 1;
}

.title h1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    color: #ffffff;
    font-family: 'spacemono';
}

.subtitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto 50px;
    width: 100%;
    height: auto;
}

.subtitle h2 {
    position: relative;
    text-align: center;
    width: 400px;
    height: auto;
    font-family: spacemono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #ffffff;
}

.box {
    width: 100%;
    text-align: -webkit-center;}

.button {
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background: #151515;
}

.btn {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    font-family: montserrat;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #ffffff;
}


footer {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
}

p {
    height: fit-content;
    font-family: spacemono;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.035em;
    text-transform: none;
    color: #ffffff;
}